.container {
    width: 50%; 
    margin: 0 auto;
    display: block;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 10px;
    
}
.logoimage {
    width: 100px;
    height: auto;
    align-items:start
    order -1;
}

body {
    background-color: #dc1a22;
    color: white;
}
    ul > li{
    display: inline;
    padding: 10px;
    list-style: none;
    background-color: white;
    color: #dc1a22;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #dc1a22;;
}

.imag {
    width: 40%;
    height: auto;
}

main  {
    padding-left: 10%;
}